@use './variables';
@use './mixins';
@use 'sass:color';

.hangmangame {
    
}

.hangman-wrapper {
  @include mixins.centered;
  flex-direction: column;
  gap: 5rem;
  margin-top: 2rem;
  font-family: variables.$font-main;


  .hangman-graphic img {
    max-width: 180px;
    transition: opacity 0.5s ease-in-out;
  }

  .hangman-info {
    text-align: center;

    #wordDisplay {
      font-size: 2rem;
      letter-spacing: 0.4rem;
      margin: 1rem 0;
    }

    #letterInput {
      font-size: 1.2rem;
      padding: 0.5rem;
      width: 100px;
      text-align: center;
    }

    #resultMessage {
      font-weight: bold;
      margin: 1rem 0;
    }

    .hidden {
      display: none;
    }

    button {
      margin-top: 1rem;
      background-color: variables.$primary-color;
      color: white;
      padding: 0.5rem 1.2rem;
      font-size: 1rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: color.adjust(variables.$primary-color, $lightness: -10%);
      }
    }
  }
}
